@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgba(41, 141, 228, 0.811);
  background-color: blanchedalmond;

  /* Use the custom color defined in the tailwind config */
}

​ .fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}
